<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ClospaceApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Clospace"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="subject_segment" />

        <!-- Splash -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Authentication -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <!-- Main -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Outfits -->
        <activity
            android:name=".SelectGarmentsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".OutfitCanvasActivity"
            android:exported="false"
            android:parentActivityName=".SelectGarmentsActivity" />

        <activity
            android:name=".OutfitDetailsActivity"
            android:exported="false"
            android:parentActivityName=".OutfitCanvasActivity" />

        <activity
            android:name=".OutfitDetailActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".GarmentDetailActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <!-- Secondary Pages -->
        <activity
            android:name=".AccountActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".SupportActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ManageTagsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>

    </application>

</manifest>